RenAIssance_Transformer_OCR_Utsav_Rai/weights
RenAIssance_Transformer_OCR_Utsav_Rai/models
RenAIssance_Transformer_OCR_Utsav_Rai/quantized_model
RenAIssance_SelfSupervisedLearning_OCR_YukinoriYamamoto/models/*.pt
RenAIssance_SelfSupervisedLearning_OCR_YukinoriYamamoto/models/*.pth
RenAIssance_SelfSupervisedLearning_OCR_YukinoriYamamoto/data/ssl/word_images/*
!RenAIssance_SelfSupervisedLearning_OCR_YukinoriYamamoto/data/ssl/word_images/.gitkeep
RenAIssance_SelfSupervisedLearning_OCR_YukinoriYamamoto/data/finetuning/*/word_images/*
!RenAIssance_SelfSupervisedLearning_OCR_YukinoriYamamoto/data/finetuning/perfecto/word_images/.gitkeep
!RenAIssance_SelfSupervisedLearning_OCR_YukinoriYamamoto/data/finetuning/ezcaray/word_images/.gitkeep
!RenAIssance_SelfSupervisedLearning_OCR_YukinoriYamamoto/data/finetuning/virtuosa/word_images/.gitkeep
